mixin content
  .content
    .content__category Мультфильмы

    h1 Маленький принц / The Little Prince (2015) BDRip

    .content-block
      .content-block__title 
        span Информация о файле

      .content-block-text
        p 
          strong Год выхода: 
          | 2015
        p 
          strong Жанр: 
          | ужасы
        p 
          strong Режиссер: 
          | Ли Уоннелл
        p 
          strong В ролях: 
          | Стефани Скотт, Дермот Малруни, Энгус Сэмпсон, Ли Уоннелл, Лин Шэй, Тейт Берни, Майкл Рид МакКей, Стив Култер, Хейли Кийоко, Корбетт 
        p 
          strong О фильме: 
          | История о том, как одаренный экстрасенс Элис Рейнер неохотно соглашается использовать свои способности для установления связи с мертвыми, чтобы помочь девочке-подростку, которая стала мишенью для опасной сверхъестественной сущности.
        p 
          strong Продолжительность: 
          | 01:37:27
        p 
          strong Озвучивание: 
          | Дублированное [Чистый звук]

      .download-buttons
        a(href="#" title="").download-button-green
          i.fa.fa-arrow-circle-o-down
          .download-button-green__text 
            span Скачать сейчас
            span на максимальной скорости
        a(href="#" title="").download-button-white
          i.icon.icon-torrent
          .download-button-white__text
            span Скачать .torrent
            span 4560 сидов доступно

      .novirus
        i.icon.icon-novirus
        .novirus__text Вирусов не обнаружено 
          span Проверено 26/05/2015

    .content-block
      .content-block__title 
        span Скриншоты

      .content-block-screen
        - for (var i = 0; i < 4; i++)
          img(src="http://placehold.it/180x75&text=image" alt="")

    .content-block
      .content-block__title 
        span Описание

      .content-block-text
        p О самом знаменитом советском сериале "Приключения Шерлока Холмса и доктора Ватсона" сняты десятки документальных фильмов и записаны сотни интервью с его героями и создателями.

    .vk-comments
      img(src="%=static=%images/content/vk-comments.png" alt="")