doctype html
html(class="no-js", lang="ru")

  include ../components/include/include

  head
    +head(head.defaults)
  body
    main.main
      +header()
      .catalog
        +catalog-list()
        .catalog__wrapper
          - for (var i = 0; i < 24; i++)
            +block()
      +footer()

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')