doctype html
html(class="no-js", lang="ru")

  include ../components/include/include

  head
    +head(head.defaults)
  body
    main.main
      +header()
      +vertical('Фильмы', 'vertical--green')
      +horizontal()
      +vertical('Игры', 'vertical--orange')
      +horizontal('bottom')
      +footer()

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src="https://yastatic.net/jquery/2.2.3/jquery.min.js")
    script(src='%=static=%js/main%=hash=%%=min=%.js')