doctype html
html(class="no-js", lang="ru")

  include ../components/include/include

  head
    +head(head.defaults)
  body
    main.main
      +header()
      .inside
        .inside__wrapper.inside__wrapper--nobg
          +breadcrumbs
          +file-support-horizontal
        .inside__wrapper
          .left-sidebar
            +landing-poster
            +landing-list

          +content('landing')

          .right-sidebar
            +meta-buttons
            +info
            +vk-widget


      +footer()

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src="https://yastatic.net/jquery/2.2.3/jquery.min.js")
    
    script(src='%=static=%js/main%=hash=%%=min=%.js')