mixin block()
  .block
    .block__img
      img(src="http://placehold.it/190x190&text=image" alt="")
    
    .block__inside
      a(href="#" title="").block__title 
        span Здравствуй, папа, Новый год Здравствуй, папа, Новый год Здравствуй, папа, Новый год

      .block__contents
        a(href="#" title="").button.button--green Скачать
        .block-meta
          .block-meta__downloaded
            i.fa.fa-arrow-circle-o-down
            span 4356
          .block-meta__likes
            i.fa.fa-thumbs-o-up
            span 3112
