include ../head/head
include ../header/header
include ../top-menu/top-menu
include ../search/search
include ../vertical/vertical
include ../block/block
include ../horizontal/horizontal
include ../row/row
include ../catalog-list/catalog-list
include ../breadcrumbs/breadcrumbs
include ../film-poster/film-poster
include ../likes/likes
include ../info/info
include ../vk-widget/vk-widget
include ../content/content
include ../meta-buttons/meta-buttons
include ../file-support/file-support
include ../similar-downloads/similar-downloads
include ../file-support-horizontal/file-support-horizontal
include ../landing-poster/landing-poster
include ../landing-list/landing-list
include ../registration-form/registration-form
include ../modal/modal
include ../footer/footer