mixin landing-list
  .landing-list
    .landing-list__item
      i.fa.fa-check
      span Высокая скорость загрузки файлов, в любое время суток из любой точки мира 

    .landing-list__item
      i.fa.fa-check
      span Самая большая база файлов с ежедневным добавлением новинок 

    .landing-list__item
      i.fa.fa-check
      span Неограниченное колличество скачиваний 

    .landing-list__item
      i.fa.fa-check
      span Круглосуточная поддержка пользователей 

    .landing-list__item
      i.fa.fa-check
      span Все файлы проверены антивирусом и безопасны для запуска 

    .landing-list__item
      i.fa.fa-check
      span Самая большая база файлов с ежедневным добавлением новинок 