mixin catalog-list
  .catalog-list
    .catalog-list__wrapper
      .catalog-list__title Фильмы
      .catalog-list__items
        a(href="#" title="").catalog-list__item Биография
        a(href="#" title="").catalog-list__item Боевик
        a(href="#" title="").catalog-list__item Драма
        a(href="#" title="").catalog-list__item История
        a(href="#" title="").catalog-list__item Криминал
        a(href="#" title="").catalog-list__item Мелодрама
        a(href="#" title="").catalog-list__item Научная фантастика
        a(href="#" title="").catalog-list__item Приключения
        a(href="#" title="").catalog-list__item Реальные события
        a(href="#" title="").catalog-list__item Спорт
        a(href="#" title="").catalog-list__item Триллер
        a(href="#" title="").catalog-list__item Ужасы
        a(href="#" title="").catalog-list__item Фильм-катастрофа
        a(href="#" title="").catalog-list__item Фэнтези
        a(href="#" title="").catalog-list__item Экранизация