.horizontal {
  padding: 37px 0;

  background: url(%=static=%general/gray-pattern.png) repeat;
  &__wrapper {
    display: flex;

    @extend .wrapper;
    justify-content: space-between;
    align-items: flex-start;
    @media screen and (max-width: 1024px) {
      flex-wrap: wrap;
    }
  }
  &__title {
    @extend .title;
    @extend .title--green;
  }
  &__column {
    @media screen and (max-width: 768px) {
      width: 50%;
      margin-bottom: 20px;

    }
    @media screen and (max-width: 420px) {
      width: 100%;
    }
    &--img {
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
}
