mixin info
  .info
    .info-row
      .info-row__left Разместил:
      .info-row__right
        .info-author
          .info-author__img
            img(src="http://www.placehold.it/27x27/EFEFEF/AAAAAA" alt="")
          .info-author__name Admin
          .info-author__date (25/05/2015)
    .info-row
      .info-row__left Формат:
      .info-row__right MKV (x264)
    .info-row
      .info-row__left Качество:
      .info-row__right WEBRip 720p
    .info-row
      .info-row__left Видео:
      .info-row__right 2700 kb/s, 1280x536
    .info-row
      .info-row__left Аудио:
      .info-row__right AC3, 128 kb/s (2 ch)
    .info-row
      .info-row__left Размер:
      .info-row__right.info-row__right--orange 1.94 GB