mixin file-support
  .file-support
    .file-support__title
      i.fa.fa-info-circle
      span Файловая поддержка

    img(src="%=static=%images/content/file-support-film.png" alt="")
    img(src="%=static=%images/content/file-support-soft.png" alt="")
