.header {
  background-color: #fafafa;
  padding: 14px 0;
  &__wrapper {
    display: flex;

    @extend .wrapper;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    @include bg($logo);
    @media screen and (max-width: 1024px) {
      order: 2;
    }
  }
  &__slogan {
    text-transform: uppercase;

    color: #999696;

    font-size: 15px;
    font-style: italic;
    line-height: 1;
    span {
      display: block;

      text-transform: none;

      font-size: 12px;
    }

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
}
