mixin row
  .row
    .row__img
      img(src="http://placehold.it/65x65&text=image" alt="")
    .row__content
      a(href="#" title="").row__title На гребне волны / Point Break (2015)
      .row-meta
        .row-meta__downloaded
          i.fa.fa-arrow-circle-o-down
          span 4356
        .row-meta__likes
          i.fa.fa-thumbs-o-up
          span 3112
