mixin top-menu
  .top-menu
    .top-menu__mobile
      i.fa.fa-bars
    .top-menu__list
      a(href="#" title="").top-menu__item 
        span Фильмы
      a(href="#" title="").top-menu__item 
        span Сериалы
      a(href="#" title="").top-menu__item 
        span Музыка
      a(href="#" title="").top-menu__item 
        span Софт
      a(href="#" title="").top-menu__item 
        span Игры
      a(href="#" title="").top-menu__item 
        span Книги
      a(href="#" title="").top-menu__item 
        span Документы
      a(href="#" title="").top-menu__item 
        span Инструкции
      a(href="#" title="").top-menu__item 
        span Школа

