.top-menu {
  @media screen and (max-width: 1024px) {
    order: 1;
  }
  &__mobile {
    display: none;
    @media screen and (max-width: 1024px) {
      display: block;

      width: 50px;

      text-align: center;

      color: $green;

      font-size: 25px;
    }
  }
  &__list {
    display: flex;

    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
  &__item {
    padding: 10px 15px;

    text-decoration: none;

    color: $black;

    font-size: 14px;
    span {
      padding-bottom: 3px;

      border-bottom: 1px dashed $green;
    }
    &:hover {
      color: #fff;
      border-bottom-color: transparent;
      border-radius: 5px;
      background-color: $green;
    }
  }
}
