mixin file-support-horizontal
  .file-support-horizontal
    .file-support-horizontal__title 
      i.fa.fa-info-circle
      span Файловая поддержка
    .file-support-horizontal__img
      img(src="%=static=%images/content/file-support-film-horizontal.png" alt="")