mixin meta-buttons
  .meta-buttons
    a(href="#" title="").meta-button.meta-button--downloads
      i.fa.fa-arrow-circle-o-down
      span 7689
    a(href="#" title="").meta-button.meta-button--likes
      i.fa.fa-thumbs-o-up
      span 2789