mixin breadcrumbs()
  .breadcrumbs
    a(href="#" title="").breadcrumbs__item 
      i.fa.fa-bars
      span Главная
    a(href="#" title="").breadcrumbs__item 
      i.fa.fa-ellipsis-v
      span Результат поиска