mixin search()
  .search
    .search__mobile
      i.fa.fa-search
    .search__wrapper
      input(type="text" value="" placeholder="Поиск").search__input
      .search__submit
        i.fa.fa-search
        input(type="submit" value="")