.search {
  @media screen and (max-width: 1024px) {
    order: 3;
  }
  &__mobile {
    display: none;
    @media screen and (max-width: 1024px) {
      display: block;

      width: 50px;

      text-align: center;

      color: $orange;

      font-size: 25px;
    }
  }
  &__wrapper {
    @media screen and (max-width: 1024px) {
      display: none;
    }
    &.active {
      @media screen and (max-width: 1024px) {
        position: absolute;
        z-index: 2;
        top: 87px;
        right: 0;
        left: 0;

        display: block;

        background: #fff;
      }
    }
  }
  &__input {
    padding: 10px 20px;

    border: 1px solid #e8e8e8;
    border-radius: 5px;

    font-size: 14px;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
    &:focus {
      outline: none;
    }
  }
  &__submit {
    position: absolute;
    top: 10px;
    right: 25px;
    .fa {
      position: absolute;

      color: $orange;

      font-size: 16px;
    }
    input {
      position: absolute;
      top: 0;

      opacity: 0;
    }
  }
}
